$font-1: "Josefin Sans", sans-serif;  // 100-700

$num-white-piano-keys: 14;

$white-key-width: 35px;
$white-key-height: 150px;

$black-key-width: 27px;
$black-key-height: 90px;

$background-color: darken(#212529, 3%);
$lighter-background: lighten(#272B2F, 0.5%);
$lighter-background-2: lighten($lighter-background, 3%);
$lighter-background-3: lighten($background-color, 2%);

$accent-color:  #00e0b7;
$accent-transparent: rgba($accent-color, 0.7);

$highlight-color: #00e0b7;