@import "partials/constants";


#controls
{
    background-color: $lighter-background;
    margin-top: 40px;
    padding: 20px 15px;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(black, 0.2);

    .control-row
    {
        display: flex;
        align-items: center;
        font-family: $font-1;
        min-height: 37px;
        margin: 1px 0;
        user-select: none;

        .control-label
        {
            color: white;
            margin-right: 15px;
            text-transform: uppercase;
            font-weight: 400;
            letter-spacing: 0.5px;
        }

        select
        {
            font-family: inherit;
            font-weight: 500;
            font-size: 14px;
            padding: 5px 5px;
            border-radius: 5px;
            text-transform: uppercase;
            height: 24px;
            min-width: 60px;

            &, option
            {
                text-align: center;
            }
        }

        .action-button
        {
            font-weight: 500;
            background-color: transparent;
            border: 1px solid $accent-color;
            color: $accent-color;
            transition: background-color .2s ease-in-out, color .2s ease-in-out;
            padding: 7px 12px;
            font-family: inherit;
            border-radius: 5px;
            cursor: pointer;
            text-transform: uppercase;
            letter-spacing: 1px;

            &:hover
            {
                background-color: $accent-color;
                color: $lighter-background;
            }
        }
    }
}


#scale-control-row
{
    select
    {
        margin-right: 10px;
    }

    #major-minor-select
    {
        font-size: 14px;
    }

    #random-button
    {
        height: 29px;
        line-height: 1.3em;
    }
}


#volume-control-row
{
    display: flex;

    #volume-range
    {
        width: 100%;
    }

    #volume-range-output
    {
        color: rgba(white, 0.6);
        font-size: 15px;
        font-weight: 400;
        margin-right: 5px;
        min-width: 40px;
        text-align: right;
    }
}


#preview-octave-control-row
{
    .preview-octave-radio-button-container
    {
        label
        {
            color: white;
            margin-left: 5px;
        }

        &:not(&:last-of-type)
        {
            margin-right: 15px;
        }
    }
}


#play-button-control-row
{
    justify-content: center;

    #play-button
    {
        width: 150px;
        height: 35px;
        line-height: 1.7em;
        margin-top: 15px;
    }
}