@import "partials/constants";


select
{
    font-family: inherit;
    font-weight: 500;
    font-size: 14px;
    padding: 5px 5px;
    border-radius: 5px;
    //margin: 0 3px;
    //height: 30px;
}


button
{
    font-family: inherit;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
}


#controls
{
    //width: 300px;
    //height: 100px;
    background-color: $lighter-background;
    margin-top: 40px;
    padding: 10px;
    border-radius: 5px;
    width: 100%;

    .control-row
    {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: $font-1;
        padding: 7px;

        .control-row-left-section
        {
            display: flex;
            align-items: center;
            //width: 100%;
        }

        label
        {
            color: white;
            margin-right: 15px;
            text-transform: uppercase;
            font-weight: 400;
            letter-spacing: 1px;
        }

        #note-select
        {
            width: 150px;
        }

        #accidental-select
        {
            width: 45px;
        }

        .action-button
        {
            //width: 100px;
            padding: 0 5px;
            font-weight: 500;
            background-color: white;
            position: relative;
            overflow: hidden;
            z-index: 0;
            box-sizing: content-box;
            transition: background-color .15s ease-in-out;

            &.selected
            {
                background-color: $accent-color;
            }

            &:before
            {
                content: "";
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                background-color: black;
                z-index: -1;
                opacity: 0;
                transition: opacity .15s ease-in-out;
            }

            &:hover
            {
                &:before
                {
                    opacity: 0.17;
                }
            }
        }

        #minor-button
        {

        }

        select
        {
            margin-right: 10px;
            //margin: 0 5px;
        }

        select, .action-button
        {
            height: 25px;
        }

        //#submit-button
        .action-button
        {
            margin-left: 50px;
            font-weight: 500;
            background-color: transparent;
            //padding: 6px 20px;
            width: 100px;
            height: 30px;
            border: 1px solid $accent-color;
            color: $accent-color;
            transition: background-color .2s ease-in-out, color .2s ease-in-out;

            &:hover
            {
                background-color: $accent-color;
                color: $lighter-background;
            }
        }
    }
}