@import "partials/constants";


.key-container
{
    min-width: $white-key-width;
    //display: flex;
    //justify-content: center;

    &:not(&:first-of-type) > .white-key
    {
        border-left: 1px solid black;
    }

    &:not(&:last-of-type) > .white-key
    {
        border-right: 1px solid black;
    }
}


.piano-key
{
    //width: 100%;
    //height: 100%;
}


.white-key
{
    background-color: white;
    //min-width: $white-key-width;
    //min-width: 100%;
    height: $white-key-height;
}


.black-key
{
    background-color: black;
    width: 70%;
    margin: 0 auto;
    height: $black-key-height;

    &.invisible
    {
        visibility: hidden;
    }
}