@import "partials/constants";


.piano
{
    position: relative;
    width: calc($num-white-piano-keys * $white-key-width);
    height: $white-key-height;
    pointer-events: none;
    box-sizing: content-box;
    border: 3px solid #fc751d;
    //border-radius: 5px;

    .piano-layer
    {
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        //box-sizing: border-box;

        &#white-keys
        {
            justify-content: center;
        }

        &#black-keys
        {
            justify-content: center;
            right: $white-key-width / 2;
        }
    }
}